<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<% if !@user.beer_clubs.empty? %>
    <p> member of 
        <% @user.beer_clubs.each do |beer_club| %>
            <%= link_to beer_club.name, beer_club %>
        <% end %>
    <p>
<% end %>

<p>
    <% if !@user.ratings.empty? %>
    Has made <%= pluralize @user.ratings.count, "rating" %>, average <%= @user.average_rating %>

    <h2>Ratings</h2>
    <ul>
        <% @user.ratings.each do |rating| %>
        <li>
            <%= rating %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        <% end %>
    </ul>
    <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
